.mainDiv{
    margin-top: 200px;
    width: 95%;
    /* padding: 10px;*/
} 

.statementSectionLeft{
    float: left;
    width: 30%;

}
.statementSectionCenter{
    float: left;
    width: 30%;

}

.statementSectionRight{
    float: right;
    width: 30%;
    text-align: right;

}

.statementForm{
    margin-top: 30px;
    min-width: 400px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    background-color: #fff;
    color: #1A2819;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}